################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RTree/Debug/RTree.tlog
/RTree/Debug
/RTree
